* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: #222;
  line-height: 1.6;
}

header {
  text-align: center;
  padding-top: 20px;
  width: 100%;
  padding-bottom: 10px;
}

header h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #222;
  margin-bottom: 14px;
}

nav {
  background: #53B376;
  padding: 15px 0;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 10px 0;
  width: 100%;
}

.nav-link {
  padding: 20px;
  text-decoration: none;
}

.nav-link:link {
  color: #fff;
}

.nav-link:visited {
  color: #fff;
}

.nav-link:hover {
  color: #EAC27B;
}

.nav-link:active {
  color: #fff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  flex: 1;
  width: 100%;
}

.mafra-info {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  margin: 40px 20px 20px 20px;
}

.mafra-info h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #53B376;
}

.mafra-info p {
  margin-bottom: 20px;
  font-size: 1.1em;
  color: #444;
}

.mafra-info ul {
  padding-left: 20px;
  margin-top: 20px;
}

.mafra-info li {
  margin-bottom: 12px;
  font-size: 1em;
  color: #333;
}

.mafra-info table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

table {
  margin: 0 auto;
  text-align: left;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px 15px;
}

th {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

td {
  color: #333;
}

td a:link {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

td a:visited {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

td a:active {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

td a:hover {
  color: #EAC27B;
}

.curiosity{
  margin-top: 20px;
}

footer {
  text-align: center;
  padding: 15px;
  color: #fff;
  background: #53B376;
  width: 100%;
}