body {
    font-family: 'Poppins', sans-serif;
    background: #fdfdfd;
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

img {
    margin: auto;
    display: block;
    width: 1440px;
    height: 200px;
}

h1 {
    text-align: center;
}

a {
    padding: 20px;
}

a:link {
  color: #592D27;
}

a:visited {
  color: #592D27;
}

a:hover {
  color: #EAC27B;
}

a:active {
  color: #592D27;
}